.elementor-10 .elementor-element.elementor-element-48f0e93{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:16px 16px;--row-gap:16px;--column-gap:16px;--padding-top:0px;--padding-bottom:32px;--padding-left:32px;--padding-right:32px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-10 .elementor-element.elementor-element-8b946fb{width:100%;max-width:100%;padding:0px 0px 0px 0px;text-align:left;}.elementor-10 .elementor-element.elementor-element-8b946fb.elementor-element{--align-self:center;}.elementor-10 .elementor-element.elementor-element-8b946fb .elementor-heading-title{font-family:"Nata Sans", Sans-serif;font-size:clamp(2rem, 1.8846rem + 0.5128vw, 2.5rem);font-weight:700;line-height:clamp(2.4rem, 2.2615rem + 0.6154vw, 3rem);letter-spacing:clamp(-0.0315rem, -0.0301rem + -0.0062vw, -0.0375rem);color:var( --e-global-color-secondary );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-10 .elementor-element.elementor-element-25a5639{color:var( --e-global-color-b74133c );}.elementor-10 .elementor-element.elementor-element-ee67d2c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:32px 64px;--row-gap:32px;--column-gap:64px;--padding-top:32px;--padding-bottom:32px;--padding-left:32px;--padding-right:32px;}.elementor-10 .elementor-element.elementor-element-ee67d2c:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-ee67d2c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-text );}.elementor-10 .elementor-element.elementor-element-038f259{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--border-radius:10px 10px 10px 10px;}.elementor-10 .elementor-element.elementor-element-038f259:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-038f259 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-10 .elementor-element.elementor-element-ee67d2c{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-10 .elementor-element.elementor-element-038f259{--flex-wrap:wrap;}}@media(max-width:767px){.elementor-10 .elementor-element.elementor-element-48f0e93{--padding-top:0px;--padding-bottom:40px;--padding-left:16px;--padding-right:16px;}.elementor-widget-text-editor{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-10 .elementor-element.elementor-element-ee67d2c{--padding-top:24px;--padding-bottom:24px;--padding-left:0px;--padding-right:0px;}}@media(min-width:768px){.elementor-10 .elementor-element.elementor-element-038f259{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-10 .elementor-element.elementor-element-038f259{--width:100%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nata Sans';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://obliczubezpieczenie.com/wp-content/uploads/2025/09/NataSans-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */