.po-wyszukaniu-oferty {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  height: 6181px;
  position: relative;
}

.po-wyszukaniu-oferty .logo-oblicz {
  position: absolute;
  top: 24px;
  left: 120px;
  width: 321px;
  height: 75px;
  mix-blend-mode: multiply;
  aspect-ratio: 4.29;
  object-fit: cover;
}

.po-wyszukaniu-oferty .navbar {
  display: inline-flex;
  align-items: center;
  gap: 31px;
  position: absolute;
  top: 48px;
  left: 719px;
}

.po-wyszukaniu-oferty .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #002236;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle {
  position: absolute;
  top: 276px;
  left: -75px;
  width: 1610px;
  height: 5393px;
  background-color: #f0f3f5;
}

.po-wyszukaniu-oferty .div {
  position: absolute;
  top: 33px;
  left: 1088px;
  width: 229px;
  height: 44px;
  background-color: #eb0f20;
  border-radius: 500px;
}

.po-wyszukaniu-oferty .text-wrapper-2 {
  position: absolute;
  top: 119px;
  left: 121px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-3 {
  position: absolute;
  top: 328px;
  left: 381px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-4 {
  position: absolute;
  top: 976px;
  left: 381px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-5 {
  position: absolute;
  top: 1447px;
  left: 377px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-6 {
  position: absolute;
  top: 1863px;
  left: 377px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-7 {
  position: absolute;
  top: 3233px;
  left: 377px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-8 {
  position: absolute;
  top: 4776px;
  left: 377px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .p {
  position: absolute;
  top: 5006px;
  left: 377px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-9 {
  position: absolute;
  top: 24px;
  left: 1114px;
  width: 149px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 62px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .ellipse {
  position: absolute;
  top: 40px;
  left: 1276px;
  width: 30px;
  height: 30px;
}

.po-wyszukaniu-oferty .vector {
  position: absolute;
  top: 50px;
  left: 1285px;
  width: 11px;
  height: 11px;
}

.po-wyszukaniu-oferty .rectangle-2 {
  position: absolute;
  top: 5579px;
  left: 0;
  width: 1440px;
  height: 644px;
  background-color: #002236;
}

.po-wyszukaniu-oferty .text-wrapper-10 {
  position: absolute;
  top: 5670px;
  left: 577px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-11 {
  position: absolute;
  top: 5852px;
  left: 577px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-12 {
  position: absolute;
  top: 5671px;
  left: 865px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-13 {
  position: absolute;
  top: 5670px;
  left: 1199px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-14 {
  position: absolute;
  top: 5823px;
  left: 865px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 5710px;
  left: 577px;
}

.po-wyszukaniu-oferty .text-wrapper-15 {
  position: relative;
  width: 123px;
  margin-top: -1.00px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-16 {
  position: relative;
  width: 123px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .frame-2 {
  display: flex;
  flex-direction: column;
  width: 242px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 5710px;
  left: 864px;
}

.po-wyszukaniu-oferty .text-wrapper-17 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-18 {
  position: relative;
  align-self: stretch;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 5892px;
  left: 577px;
}

.po-wyszukaniu-oferty .text-wrapper-19 {
  position: relative;
  width: fit-content;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .frame-4 {
  display: flex;
  flex-direction: column;
  width: 242px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 5863px;
  left: 864px;
}

.po-wyszukaniu-oferty .internetowy-agent {
  position: absolute;
  top: 5764px;
  left: 121px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.po-wyszukaniu-oferty .pomoc {
  position: absolute;
  top: 5852px;
  left: 121px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.po-wyszukaniu-oferty .text-wrapper-20 {
  position: absolute;
  top: 6118px;
  left: 123px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .text-wrapper-21 {
  position: absolute;
  top: 6118px;
  left: 1053px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.po-wyszukaniu-oferty .img {
  position: absolute;
  top: 5661px;
  left: 120px;
  width: 330px;
  height: 77px;
  aspect-ratio: 4.29;
  object-fit: cover;
}

.po-wyszukaniu-oferty .facebook {
  position: absolute;
  top: 5714px;
  left: 1201px;
  width: 23px;
  height: 23px;
}

.po-wyszukaniu-oferty .group {
  position: relative;
  width: 98.79%;
  height: 98.79%;
  background-image: url(./img/vector-5.svg);
  background-size: 100% 100%;
}

.po-wyszukaniu-oferty .vector-2 {
  position: absolute;
  width: 40.00%;
  height: 76.88%;
  top: 23.12%;
  left: 31.10%;
}

.po-wyszukaniu-oferty .youtube-logo {
  position: absolute;
  top: 5710px;
  left: 1245px;
  width: 30px;
  height: 30px;
}

.po-wyszukaniu-oferty .vector-wrapper {
  position: relative;
  width: 98.79%;
  height: 69.15%;
  top: 15.37%;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.po-wyszukaniu-oferty .vector-3 {
  position: absolute;
  width: 25.98%;
  height: 42.86%;
  top: 28.57%;
  left: 40.00%;
}

.po-wyszukaniu-oferty .linkedin {
  position: absolute;
  top: 5713px;
  left: 1297px;
  width: 21px;
  height: 21px;
}

.po-wyszukaniu-oferty .group-2 {
  position: relative;
  width: 98.79%;
  height: 98.61%;
}

.po-wyszukaniu-oferty .vector-4 {
  position: absolute;
  width: 24.02%;
  height: 100%;
  top: 0;
  left: 0;
}

.po-wyszukaniu-oferty .vector-5 {
  position: absolute;
  width: 64.63%;
  height: 68.45%;
  top: 31.55%;
  left: 35.37%;
}

.po-wyszukaniu-oferty .rectangle-3 {
  position: absolute;
  top: 1023px;
  left: 381px;
  width: 689px;
  height: 387px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-4 {
  position: absolute;
  top: 1917px;
  left: 381px;
  width: 689px;
  height: 1275px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-5 {
  position: absolute;
  top: 4828px;
  left: 377px;
  width: 689px;
  height: 141px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-6 {
  position: absolute;
  top: 3285px;
  left: 377px;
  width: 689px;
  height: 1451px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-7 {
  position: absolute;
  top: 5055px;
  left: 377px;
  width: 689px;
  height: 349px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-8 {
  position: absolute;
  top: 377px;
  left: 381px;
  width: 689px;
  height: 566px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-9 {
  position: absolute;
  top: 1494px;
  left: 381px;
  width: 689px;
  height: 333px;
  background-color: #ffffff;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .rectangle-10 {
  position: absolute;
  top: 1052px;
  left: 410px;
  width: 305px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-11 {
  position: absolute;
  top: 1052px;
  left: 737px;
  width: 309px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-22 {
  position: absolute;
  top: 188px;
  left: 120px;
  width: 1166px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-12 {
  position: absolute;
  top: 411px;
  left: 403px;
  width: 348px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-13 {
  position: absolute;
  top: 1547px;
  left: 410px;
  width: 621px;
  height: 144px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-14 {
  position: absolute;
  top: 1750px;
  left: 410px;
  width: 621px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-15 {
  position: absolute;
  top: 2200px;
  left: 410px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-16 {
  position: absolute;
  top: 2578px;
  left: 410px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-17 {
  position: absolute;
  top: 2726px;
  left: 410px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-18 {
  position: absolute;
  top: 3109px;
  left: 410px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-19 {
  position: absolute;
  top: 581px;
  left: 403px;
  width: 348px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 1200px;
  left: 415px;
}

.po-wyszukaniu-oferty .rectangle-20 {
  position: relative;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-21 {
  position: absolute;
  top: 3717px;
  left: 412px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-22 {
  position: absolute;
  top: 4038px;
  left: 412px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-24 {
  position: absolute;
  top: 1325px;
  left: 442px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-25 {
  position: absolute;
  top: 1361px;
  left: 442px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 1200px;
  left: 484px;
}

.po-wyszukaniu-oferty .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 1200px;
  left: 549px;
}

.po-wyszukaniu-oferty .rectangle-23 {
  position: absolute;
  top: 476px;
  left: 404px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 1199px;
  left: 634px;
}

.po-wyszukaniu-oferty .rectangle-24 {
  position: absolute;
  top: 695px;
  left: 406px;
  width: 21px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-26 {
  position: absolute;
  top: 475px;
  left: 432px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .line {
  top: 1129px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-2 {
  top: 1253px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-3 {
  top: 2111px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-4 {
  top: 2281px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-5 {
  top: 2515px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-6 {
  top: 2662px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-7 {
  top: 2807px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-8 {
  top: 3045px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-9 {
  top: 3554px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-10 {
  top: 4572px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-11 {
  top: 3777px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-12 {
  top: 4093px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .line-13 {
  top: 4372px;
  left: 402px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .text-wrapper-27 {
  position: absolute;
  top: 694px;
  left: 434px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-2 {
  position: absolute;
  top: 1325px;
  left: 413px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .ellipse-3 {
  position: absolute;
  top: 1361px;
  left: 413px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-28 {
  position: absolute;
  top: 1153px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-29 {
  position: absolute;
  top: 1943px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-30 {
  position: absolute;
  top: 2310px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-31 {
  position: absolute;
  top: 2832px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-32 {
  position: absolute;
  top: 3069px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-33 {
  position: absolute;
  top: 2134px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-34 {
  position: absolute;
  top: 2539px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-35 {
  position: absolute;
  top: 2686px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-36 {
  position: absolute;
  top: 1283px;
  left: 410px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-37 {
  position: absolute;
  top: 549px;
  left: 407px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-38 {
  position: absolute;
  top: 1518px;
  left: 409px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-39 {
  position: absolute;
  top: 2170px;
  left: 411px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-40 {
  position: absolute;
  top: 1720px;
  left: 409px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-41 {
  position: absolute;
  top: 3619px;
  left: 413px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-42 {
  position: absolute;
  top: 3848px;
  left: 412px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-43 {
  position: absolute;
  top: 4171px;
  left: 412px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-44 {
  position: absolute;
  top: 3938px;
  left: 413px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-45 {
  position: absolute;
  top: 4035px;
  left: 442px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-46 {
  position: absolute;
  top: 3714px;
  left: 442px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-47 {
  position: absolute;
  top: 4261px;
  left: 413px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-25 {
  position: absolute;
  top: 411px;
  left: 402px;
  width: 46px;
  height: 46px;
  background-color: #0e2549;
  border-radius: 10px 0px 0px 10px;
}

.po-wyszukaniu-oferty .line-14 {
  top: 525px;
  left: 406px;
  position: absolute;
  width: 640px;
  height: 1px;
  object-fit: cover;
}

.po-wyszukaniu-oferty .rectangle-26 {
  position: absolute;
  top: 732px;
  left: 406px;
  width: 646px;
  height: 186px;
  background-color: #f1f4f6;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .text-wrapper-48 {
  position: absolute;
  top: 759px;
  left: 453px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-27 {
  position: absolute;
  top: 760px;
  left: 424px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-28 {
  position: absolute;
  top: 802px;
  left: 424px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .sed-ut-perspiciatis {
  top: 801px;
  position: absolute;
  left: 453px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-29 {
  position: absolute;
  top: 856px;
  left: 424px;
  width: 20px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .sed-ut-perspiciatis-2 {
  top: 852px;
  position: absolute;
  left: 453px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .vector-6 {
  position: absolute;
  top: 3990px;
  left: 733px;
  width: 13px;
  height: 8px;
}

.po-wyszukaniu-oferty .rectangle-30 {
  position: absolute;
  top: 3649px;
  left: 412px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .group-3 {
  position: absolute;
  top: 3968px;
  left: 412px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .vector-7 {
  position: absolute;
  top: 4313px;
  left: 733px;
  width: 13px;
  height: 8px;
}

.po-wyszukaniu-oferty .vector-8 {
  position: absolute;
  top: 3670px;
  left: 733px;
  width: 13px;
  height: 8px;
}

.po-wyszukaniu-oferty .group-4 {
  position: absolute;
  top: 4291px;
  left: 412px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .vector-9 {
  position: absolute;
  top: 3130px;
  left: 734px;
  width: 13px;
  height: 8px;
}

.po-wyszukaniu-oferty .group-5 {
  position: absolute;
  top: 3873px;
  left: 411px;
  width: 148px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .group-6 {
  position: absolute;
  top: 4197px;
  left: 411px;
  width: 148px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-49 {
  position: absolute;
  top: 1985px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-4 {
  position: absolute;
  top: 1986px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-50 {
  position: absolute;
  top: 2022px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-51 {
  position: absolute;
  top: 2350px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-5 {
  position: absolute;
  top: 2351px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-52 {
  position: absolute;
  top: 2387px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-6 {
  position: absolute;
  top: 2387px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-53 {
  position: absolute;
  top: 2423px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-7 {
  position: absolute;
  top: 2424px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-54 {
  position: absolute;
  top: 2460px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-8 {
  position: absolute;
  top: 2460px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .ellipse-9 {
  position: absolute;
  top: 2022px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-55 {
  position: absolute;
  top: 2872px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-10 {
  position: absolute;
  top: 2873px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-56 {
  position: absolute;
  top: 2909px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-11 {
  position: absolute;
  top: 2909px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-57 {
  position: absolute;
  top: 2945px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-12 {
  position: absolute;
  top: 2946px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-58 {
  position: absolute;
  top: 2982px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-13 {
  position: absolute;
  top: 2982px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-59 {
  position: absolute;
  top: 2060px;
  left: 437px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-14 {
  position: absolute;
  top: 2060px;
  left: 408px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .rectangle-31 {
  position: absolute;
  top: 3314px;
  left: 404px;
  width: 643px;
  height: 95px;
  background-color: #f1f4f6;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .text-wrapper-60 {
  position: absolute;
  top: 3333px;
  left: 456px;
  width: 570px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-32 {
  position: absolute;
  top: 5085px;
  left: 409px;
  width: 643px;
  height: 69px;
  background-color: #f1f4f6;
  border-radius: 10px;
}

.po-wyszukaniu-oferty .text-wrapper-61 {
  position: absolute;
  top: 5102px;
  left: 465px;
  font-family: "Nata Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #002236;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-62 {
  position: absolute;
  top: 3427px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-63 {
  position: absolute;
  top: 3582px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-64 {
  position: absolute;
  top: 4408px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-65 {
  position: absolute;
  top: 4605px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-66 {
  position: absolute;
  top: 3469px;
  left: 441px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-15 {
  position: absolute;
  top: 3470px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-67 {
  position: absolute;
  top: 3503px;
  left: 441px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-16 {
  position: absolute;
  top: 3504px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-68 {
  position: absolute;
  top: 3809px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-69 {
  position: absolute;
  top: 4451px;
  left: 439px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-17 {
  position: absolute;
  top: 4451px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-70 {
  position: absolute;
  top: 4128px;
  left: 412px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-71 {
  position: absolute;
  top: 4648px;
  left: 439px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-18 {
  position: absolute;
  top: 4648px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-72 {
  position: absolute;
  top: 4678px;
  left: 439px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-19 {
  position: absolute;
  top: 4678px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-73 {
  position: absolute;
  top: 4484px;
  left: 441px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-74 {
  position: absolute;
  top: 4857px;
  left: 414px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .vector-10 {
  position: absolute;
  top: 4909px;
  left: 734px;
  width: 13px;
  height: 8px;
}

.po-wyszukaniu-oferty .group-7 {
  position: absolute;
  top: 4887px;
  left: 413px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .ellipse-20 {
  position: absolute;
  top: 4485px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-75 {
  position: absolute;
  top: 4517px;
  left: 441px;
  font-family: "Nata Sans-Medium", Helvetica;
  font-weight: 500;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .ellipse-21 {
  position: absolute;
  top: 4518px;
  left: 412px;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .group-8 {
  position: absolute;
  top: 5203px;
  left: 413px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-76 {
  position: absolute;
  top: 5173px;
  left: 414px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-77 {
  position: absolute;
  top: 5265px;
  left: 414px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .group-9 {
  position: absolute;
  top: 5290px;
  left: 413px;
  width: 355px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-78 {
  position: absolute;
  top: 5120px;
  left: 464px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .text-wrapper-79 {
  position: absolute;
  top: 5344px;
  left: 413px;
  font-family: "Nata Sans-Regular", Helvetica;
  font-weight: 400;
  color: #465762;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .group-10 {
  position: absolute;
  top: 5436px;
  left: 849px;
  width: 211px;
  height: 46px;
}

.po-wyszukaniu-oferty .rectangle-33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 209px;
  height: 46px;
  background-color: #eb0f20;
  border-radius: 500px;
}

.po-wyszukaniu-oferty .text-wrapper-80 {
  position: absolute;
  top: 10px;
  left: 43px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .rectangle-34 {
  position: absolute;
  top: 5436px;
  left: 375px;
  width: 202px;
  height: 46px;
  border-radius: 500px;
  border: 1px solid;
  border-color: #d6d6d6;
}

.po-wyszukaniu-oferty .text-wrapper-81 {
  position: absolute;
  top: 5446px;
  left: 423px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.po-wyszukaniu-oferty .group-11 {
  position: absolute;
  top: 5451px;
  left: 399px;
  width: 18px;
  height: 18px;
}

.po-wyszukaniu-oferty .protection {
  position: absolute;
  top: 5108px;
  left: 424px;
  width: 27px;
  height: 26px;
}

.po-wyszukaniu-oferty .group-12 {
  position: absolute;
  width: 0;
  height: 0;
  top: 6.84%;
  left: 28.75%;
}

.po-wyszukaniu-oferty .text-wrapper-82 {
  position: absolute;
  top: 655px;
  left: 406px;
  width: 58px;
  font-family: "Nata Sans-Bold", Helvetica;
  font-weight: 700;
  color: #002236;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
